.header {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 60px;
}
.maindiv{
    border: 2px solid black;
    margin: 3px 950px 3px 3px;
    padding: 3px 10px;
}
.likebtn {
    width: 80px;
    height: 40px;
    background-color: yellow;
    font-size: 20px;
    box-shadow: 2px 2px  black;
}
.para {
    text-align: center;
}
.restpar {
    text-align: start;
}